.readme {
  width: 100%;
  line-height: 60px;
}
.totalBox {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .videoBox {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }

  .changeBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .changeDevice {
  }
}

.rightBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid yellow;
  .pictureBox {
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
