.mainBox {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

/* .content { */

/* } */

.pf-v5-c-log-viewer__list-item {
  margin-bottom: -5px !important;
}
