.indexForm {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f5f5f5;
}

.formAndAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.log{
  border:1px solid red;
  width: 600px;
  height: 600px;
  font-family: monospace;
  white-space: pre-wrap; /* 保持换行和空格 */
}